body{
    font-family: Arial, Helvetica, sans-serif;
}

.menuContainer {
    text-align: center;
    border-style: solid;
    border-width: 3px;
    padding: 15px;
    border-color: #FF9DA1;
    background-color:  #FF9DA1;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);

}

.menuContainer a {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    margin: 4px 8px;
    padding: 15px;
    color: black;
    text-decoration: none
}

.menuContainer a:hover {
    color: white;
}


.header-main{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-align: center;
    padding: 30px;
}

.content {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    max-width: 875px;
    margin: auto;
  }

.gallery img {
max-width: 280px;
max-height: 280px;
}

.southlondoncaresintro {
    width:350px;height:250px;margin-left:15px;
    padding: 30px;
    display: inline;
}

.southlondoncaresimage {
    width:350px;height:250px;margin-left:15px;
    float: left;
    margin-right: 15px;

}

.southlondoncarescontent {
   
 
}

.getinvolvedform {
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 15px; 
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);

}

.getinvolvedinput {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 80%

}

.getinvolvedbutton:hover{
    background-color:  #2332C4;
    color: white;

}
.clear {
clear: both;
}